.C0003{
background-color: rgb(122.002495,195.75027,101.21561);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0025{
background-color: rgb(144.83522,209.09207,100.452934);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0047{
background-color: rgb(169.34555,207.11157,128.80943);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0026{
background-color: rgb(103.864105,123.06898,95.57215);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0048{
background-color: rgb(92.00544,166.5037,155.90042);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0001{
background-color: rgb(183.42575,123.86908,191.58455);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0023{
background-color: rgb(98.8568,144.16595,96.062904);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0045{
background-color: rgb(164.95581,176.33429,165.62244);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0002{
background-color: rgb(126.08042,124.854645,154.92502);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0024{
background-color: rgb(200.1242,135.95805,128.6389);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0046{
background-color: rgb(120.095055,154.85785,144.40375);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0021{
background-color: rgb(214.47311,159.34387,131.8094);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0043{
background-color: rgb(133.17186,149.57053,185.79198);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0000{
background-color: rgb(178.18758,171.43881,129.32867);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0022{
background-color: rgb(214.93315,127.665245,205.43454);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0044{
background-color: rgb(158.43246,138.96017,209.60571);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0041{
background-color: rgb(149.58832,144.75627,152.30493);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0020{
background-color: rgb(203.23929,141.03635,211.62842);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0042{
background-color: rgb(96.433205,131.63231,163.43921);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0029{
background-color: rgb(177.6376,152.88724,196.60283);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0027{
background-color: rgb(100.814285,137.83542,180.41643);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0049{
background-color: rgb(145.19606,172.45447,132.45099);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0028{
background-color: rgb(138.86818,155.26599,105.67553);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0014{
background-color: rgb(140.81561,198.60544,172.6373);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0036{
background-color: rgb(190.84137,124.08095,134.87329);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0015{
background-color: rgb(201.51096,101.68369,170.9931);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0037{
background-color: rgb(102.10163,202.13876,120.06084);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0012{
background-color: rgb(115.23876,211.49753,141.17374);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0034{
background-color: rgb(142.1134,110.79384,138.45709);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0013{
background-color: rgb(182.80066,196.55598,146.1258);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0035{
background-color: rgb(100.57274,121.794334,204.61684);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0010{
background-color: rgb(94.15165,159.38454,141.10934);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0032{
background-color: rgb(99.19436,160.89497,101.971725);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0011{
background-color: rgb(147.44148,188.82904,109.61274);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0033{
background-color: rgb(181.14273,188.11249,116.683945);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0030{
background-color: rgb(184.53445,191.30634,138.88245);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0031{
background-color: rgb(153.00218,153.82906,210.21777);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0018{
background-color: rgb(137.55646,130.45424,130.42223);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0019{
background-color: rgb(193.15468,107.19879,115.02671);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0016{
background-color: rgb(124.982346,133.79034,130.39148);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0038{
background-color: rgb(134.52112,220.16913,154.58853);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0017{
background-color: rgb(153.82907,129.93642,116.712425);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0039{
background-color: rgb(209.5625,136.19377,196.16806);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
.C0040{
background-color: rgb(136.4548,176.59111,205.32462);
color: black;
    width: 200px; /* Ancho de la columna */
    height: 100px;
    shape-outside: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* Forma personalizada */
    margin-right: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}
